{% extends 'templates/app.twig' %}


{% block content %}
<div class="row">
	<div class="col-md-6">
		<h3>Entrar</h3>
		<form class="form" method="post" action="{{ path_for('auth.login') }}">

			<div class="form-group">
				<label>Email ou Nome de Usuario:</label>
				<input type="text" name="username" class="form-control" value="{{ old.username }}" required>
			</div>

			<div class="form-group">
				<label>Senha:</label>
				<input type="password" name="password" class="form-control" value="{{ old.password }}" required>
			</div>

			{{ csrf.field | raw }}

			<div class="remember">
				<label>
					<input type="checkbox" name="remember">
					Lembrar Me
				</label>
			</div>

			<div>
				<input type="submit" value="Login" class="btn btn-primary">
			</div>
		</form>
	</div>
</div>
{% endblock %}