{% extends 'templates/app.twig' %}

{% block content %}
<div id="home">
	<h3>Seja Bem vindo ao Authentication com Slim 3</h3>
	<p>Venha aprender com a gente como desenvolver esse pequeno sistema :)</p>
</div>
{% endblock %}