body {
	padding-top: 70px;
	font-family: sans-serif;
	color: #555;
	background-color: #F6F6F6;
}


#user_profile .user-info {
	display: flex;
}
#user_profile .user-img {
	width: 100px;
	height: 100px;
}


.footer {
	margin-top: 40px;
	padding: 10px 15px;
	background-color: #555;
	color: #FFF;
	border-radius: 0.5rem;
}